@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  width: 100%;
}

nav li {
  padding: .2em 1em;
  background-color: #2b4d59;
  color: #fff;
  border: 1px solid;
  border-color: #2b4d59;
  text-decoration: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

nav li:hover {
  background-color: #95a6ac;
  color: #000;
  border: 1px solid #fff;
  border-color: #fff;
  text-decoration: none;
}

header {
  padding: .5rem 0;
  background-color: #2b4d59;
  text-align: center;
}

.btn1 {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: .2em 1em;
}

li {
  display: inline-block;
}

a:hover {
  background-color: white;
  color: #dbd6cf;
}

a.btn1:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn2 {
  background-color: white;
  color: #000;
  text-decoration: none;
  padding: .2em 1em;
}

a.btn2:hover {
  background-color: black;
  color: #fff;
  border: 1px solid gray;
}

.button {
  background-color: white;
  color: #000;
  text-decoration: none;
  padding: .2em 1em;
}

a.button:hover {
  background-color: black;
  color: #fff;
  border: 1px solid gray;
}

.logo {
  width: 500%;
}

.hovered-box {
  padding: 1rem .5rem;
}

.hovered-box img {
  transition: all .2s linear;
  padding: 0;
  width: 100%;
  display: block;
}

.hovered-box-2 {
  margin-top: 2rem;
  padding: 1rem .5rem;
}

.hovered-box-2 img {
  transition: all .2s linear;
  padding: 0;
  width: 100%;
  display: block;
}

.hovered-box:hover h2,
.hovered-box:focus h2 {
  bottom: 0;
}

.hovered-box-2:hover h2,
.hovered-box-2:focus h2 {
  bottom: 0;
}

.hovered-box-caption {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  transition: all .2s linear;
}

.hovered-box-2-caption {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  transition: all .2s linear;
}

.hovered-box:hover img,
.hovered-box:focus img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.hovered-box-2:hover img,
.hovered-box-2:focus img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.workshop-cards {
  padding: 100px;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.objective {
  text-align: left;
}

.objective-wrapper {
  max-width: 100%;
  padding: 20px 40px 40px;
  margin-top: 1rem;
  background-color: #3aafa9;
}

.objective-image {
  width: 30%;
  margin: 30px 30px 30px 0;
  float: left;
}

.who {
  text-align: left;
}

.who-wrapper {
  max-width: 100%;
  padding: 20px 40px 40px;
  margin-top: 5rem;
}

.who-image {
  width: 30%;
  margin: 30px 30px 30px 0;
  float: left;
}

.banner-content {
  position: absolute;
  align-items: flex-start;
  justify-content: space-between;
  top: 50%;
  width: 100%;
  left: 35%;
  max-width: 45em;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner-title {
  transform: translateX(-20.5rem);
}

.banner-headline {
  transform: translateX(-20.5rem);
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.sponsor{
  width: 10%;
  display: grid;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.sona {
  background-color: #cd7e59;
  padding: 70px 70px 70px;
}

.oliver {
  background-color: #ddb247;
  padding: 70px 70px 70px;
}

.steve {
  background-color: #5a6868;
  padding: 70px 70px 70px;
}

.jim {
  background-color: #457373;
  padding: 70px 70px 70px;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 130%;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  .banner-title {
    font-size: 1rem;
    text-align: left;
    background-color: rgba(0, 255, 0, 0.5);
  }

  .banner-headline {
    font-size: 1rem;
    text-align: left;
    background-color: rgba(0, 255, 0, 0.5);
  }


  nav {
    display: inline-block;
    vertical-align: middle;
  }

  .workshops {
    text-align: center;
    font-size: 5rem;
  }

  footer {
    text-align: center;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
    display: inline-block;
    vertical-align: middle;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 130%;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  .banner-title {
    font-size: 2rem;
    text-align: left;
    background-color: rgba(0, 255, 0, 0.5);
  }

  .banner-headline {
    font-size: 2rem;
    text-align: left;
    background-color: rgba(0, 255, 0, 0.5);
  }

  nav {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
    display: inline-block;
    vertical-align: middle;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 130%;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  .banner-title {
    font-size: 2rem;
    text-align: left;
    background-color: rgba(0, 255, 0, 0.5);
  }

  .banner-headline {
    font-size: 2rem;
    text-align: left;
    background-color: rgba(0, 255, 0, 0.5);
  }

  nav {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
    display: inline-block;
    vertical-align: middle;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  nav {
    display: inline-block;
    vertical-align: middle;
  }

  .banner-title {
    font-size: 4rem;
    text-align: left;
    background-color: rgba(0, 255, 0, 0.5);
  }

  .banner-headline {
    font-size: 4rem;
    text-align: left;
    background-color: rgba(0, 255, 0, 0.5);
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
    display: inline-block;
    vertical-align: middle;
  }

}
